<header>
    <nav>
        <ul>
            <li><a href="../main/main.html" style="text-decoration:underline;font-weight:bold;">Home</a></li>
            <li><a href="../assets/assets.html">My Assets</a></li>
            <li><a href="../browse/browse.html">Browse</a></li>
        </ul>
    </nav>
</header>